/* dialog style */
.dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:#fff;
	opacity:0.9;
	z-index:999;
}
.dialog .dialog-inner {
	background: #31bc86;
	opacity:0.9;
}
.dialog .dialog-inner-30 {
	width:30%;
	background: #31bc86;
	opacity:0.9;
}
.dialog .dialog-inner-center {
	width:600px;
	height:300px;
	
	background: #31bc86;
	opacity:1;

    position: fixed;
    top: 50%;
    left: 50%;	
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	
}
.dialog-inner-center h1{
	text-align:center;
	border-bottom:solid;
	border-width:0.1em;
}
.dialog-inner-center p{
	font-size:1.5em;
	color:#fff;
	text-align:center;
}
.dialog input[type="button"]{
	border:solid;
	border-color:#fff;
	padding:10px 25px;
	background:#fff;
	color:#31bc86;
}
.dialog input[type="button"]:hover{
	border-color:#31bc86;
}
.column-left{ 
	float: left;
	width: 33%;
}
.column-right{
	position:relative;
	float: right;
	width: 33%;
}
.column-center{ 
	margin:0 auto;
	position:relative;
	display: inline-block;
	width: 33%;
}

/* dialog closing cross */
.dialog .dialog-close-small {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}
.dialog .dialog-close {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 10px;
	top: 10px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.dialog nav {
	text-align: center;
	position: relative;
	top: 35%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.dialog ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.dialog ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dialog ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.dialog ul li a:hover,
.dialog ul li a:focus {
	color: #f0f0f0;
}
.dialog h1{
	color: #fff;
}

