/* user color */
.login_form input[type="button"]{
	background-color: whitesmoke;
	border-color: #018759;
}
.login_form input[type="button"]:focus,
.login_form input[type="button"]:hover{
	background: #018759;
	color: white;
}
.login_form label {
	color: #018759;
	font-weight : bold;
}
#login_logo_label {
	font-size: 85px;
	font-weight: bold;
	color: #018759;
	text-shadow: 3px 7px 7px whitesmoke;
}
#page_login_toplayer {	
	background-image: -webkit-linear-gradient(white, #3CB371);
	background-image: -o-linear-gradient(white, #3CB371);
	background-image: -moz-linear-gradient(white, #3CB371);
	background-image: linear-gradient(white, #3CB371);
}
div.link-button-cover a:hover {
	background: #018759;
	color: white;
}

.navigatebar-top {
	background-color: #018759;
}
#footerbar { 
	background-color: #018759;
}
.sidebar-menu {
	background-color: #018759;
}
.pt-page h1 { background-color: #018759;  }
.pt-page th { background-color: #018759; }
.pt-page-header { 
	background-color: #018759; 
}
.btn-primary {
	border: 1px solid #0E6243;
	background-color: #0E6243;	
	min-width: 60px;	
}
.btn-dark {
	border: 1px solid #0E6243;
	background-color: #0E6243;	
	min-width: 60px;	
}
.btn-spot {
	border: 1px solid #0E6243;
	background-color: #0E6243;		
	min-width: 60px;	
}
.btn-spot:hover,
.btn-spot:focus,
.btn-spot:active,
.btn-spot.active,
.open > .dropdown-toggle.btn-spot {
 background-color: #018759;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
 background-color: #018759;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primay:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #018759;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #018759;
	border-color: #018759;
}
.page-item.active .page-link {
	background-color: #018759;
	border-color: #018759;	
}
.favor-navbox-tiles .tile {
  background-color: #018759;
}
.favor-dropdown-menu { 
	background-color: #018759;
}
#favordropdownmenu {
	background-color: #018759;
}

body {
	background-color: #E7F7F7;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #DEF9FA;
}
.navbox-tiles .tile {
  background-color: #66CDAA;
}
#loginformarea {	
	background-image: -webkit-linear-gradient(white,#C8EAEB);
	background-image: -o-linear-gradient(white,#C8EAEB);
	background-image: -moz-linear-gradient(white,#C8EAEB);
	background-image: linear-gradient(white, #C8EAEB);
}
.portal-area {
	background-color: #E7F7F7;
}
table.partition-table { background-color: #018759; }
.topic-row { background-color: #018759; }

.sidebar li a.active { 
	background-color: #0E6243;
}
.sidebar ul li > a.active:hover {
	background-color: #0E6243;
}
.sidebar ul li .sub-menu li a:hover { 
	background-color: #018759;
}
#sidebarheader { 
	background-color: #0E6243;
}
#fsprogramcontrolbar {
	background-color: #018759; 
}
.program-controlbar { background-color: #018759; }
