/* user color */
#fsprogramidlinker { color: white; text-decoration: none; }
.pt-page th a { color: white; }
.login_form input[type="button"]{
	background-color: whitesmoke;
	border-color: #87CEEB;
}
.login_form input[type="button"]:focus,
.login_form input[type="button"]:hover{
	background: #87CEEB;
	color: white;
}
.login_form label {
	color: #87CEEB;
	font-weight : bold;
}
#login_logo_label {
	font-size: 55px;
	font-weight: bold;
	color: #87CEEB;
	text-shadow: 3px 7px 7px whitesmoke;
}
#page_login_toplayer {	
	background-image: -webkit-linear-gradient(white, #B0C4DE);
	background-image: -o-linear-gradient(white, #B0C4DE);
	background-image: -moz-linear-gradient(white, #B0C4DE);
	background-image: linear-gradient(white, #B0C4DE);
}
div.link-button-cover a:hover {
	background: #87CEEB;
	color: white;
}

.navigatebar-top {
	background-color: #87CEEB;
}
#footerbar { 
	background-color: #87CEEB;
}
.sidebar-menu {
	background-color: #87CEEB;
}
.pt-page h1 { background-color: #87CEEB;  }
.pt-page th { background-color: #87CEEB; }
.pt-page-header { 
	background-color: #87CEEB; 
}
.btn-primary {
	border: 1px solid #4682B4;
	background-color: #4682B4;	
	min-width: 60px;	
}
.btn-dark {
	border: 1px solid #4682B4;
	background-color: #4682B4;	
	min-width: 60px;	
}
.btn-spot {
	border: 1px solid #4682B4;
	background-color: #4682B4;		
	min-width: 60px;	
}
.btn-spot:hover,
.btn-spot:focus,
.btn-spot:active,
.btn-spot.active,
.open > .dropdown-toggle.btn-spot {
 background-color: #87CEEB;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
 background-color: #87CEEB;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primay:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #87CEEB;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #87CEEB;
	border-color: #87CEEB;
}
.page-item.active .page-link {
	background-color: #87CEEB;
	border-color: #87CEEB;	
}
.favor-navbox-tiles .tile {
  background-color: #87CEEB;
}
.favor-dropdown-menu { 
	background-color: #87CEEB;
}
#favordropdownmenu {
	background-color: #87CEEB;
}

body {
	background-color: #DEE8F4;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #EBF2FA;
}
.navbox-tiles .tile {
  background-color: #4682B4;
}
#loginformarea {	
	background-image: -webkit-linear-gradient(white,#A3C9DF);
	background-image: -o-linear-gradient(white,#A3C9DF);
	background-image: -moz-linear-gradient(white,#A3C9DF);
	background-image: linear-gradient(white, #A3C9DF);
}
.portal-area {
	background-color: #DEE8F4;
}
table.partition-table { background-color: #87CEEB; }
.topic-row { background-color: #87CEEB; }

.sidebar li a.active { 
	background-color: #4682B4;
}
.sidebar ul li > a.active:hover {
	background-color: #6495ED;
}
.sidebar ul li .sub-menu li a:hover { 
	background-color: #87CEFA;
}
#sidebarheader { 
	background-color: #4682B4;
}
#fsprogramcontrolbar {
	background-color: #87CEEB; 
}
.program-controlbar { background-color: #87CEEB; }
