/*#(10000) programmer code begin;*/
.qr-image-layer { text-align:center; min-height: 300px; margin-top: 20px; }
.factor-code-layer { min-height: 100px; }
.factor-link-layer { margin-top:10px; }
/*#(10000) programmer code end;*/
