#page_login_toplayer {
	width: 100%;
	height: 200px;
	justify-content: center;
	align-items: center;
	display: flex;
}

#page_login_toplogo {
	width: 230px;
	height: 100px;
	opacity: 1;
}

#page_login_entry {
	justify-content: center;
	align-items: center;
	display: flex;
}

#loginformlayer {
	width: 300px;
}

#login_button_layer {
	justify-content: center;
	align-items: center;
	display: flex;
}

#login_button {
	width: 120px;
}
.link-button {
	min-width: 220px;
	text-align: center;
	margin-bottom: 10px;
}

.pass-word { color:darkcyan; font-style: italic; }
.go-word { color:lightseagreen; font-style: italic; }

#workingframe { border:none; margin:0px; display:none; }
